html, body {
  height: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #5a5757;
}

.gradient-background {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+38,53cbf1+38,05abe0+50,05abe0+67,05abe0+70,05abe0+77,05abe0+77,05abe0+86,05abe0+86 */
  background: #87e0fd; /* Old browsers */
  background: -moz-linear-gradient(left,  #87e0fd 0%, #53cbf1 38%, #53cbf1 38%, #05abe0 50%, #05abe0 67%, #05abe0 70%, #05abe0 77%, #05abe0 77%, #05abe0 86%, #05abe0 86%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #87e0fd 0%,#53cbf1 38%,#53cbf1 38%,#05abe0 50%,#05abe0 67%,#05abe0 70%,#05abe0 77%,#05abe0 77%,#05abe0 86%,#05abe0 86%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #87e0fd 0%,#53cbf1 38%,#53cbf1 38%,#05abe0 50%,#05abe0 67%,#05abe0 70%,#05abe0 77%,#05abe0 77%,#05abe0 86%,#05abe0 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */

}

a {
  color: #00B7FF;
}

h1{
  font-size: 2.25rem;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat-lookup-container{
  border: 2px solid #da9733;
  border-radius: 10px;
  background-color: white;

  height: 55vh;
  width: 40vh;

  align-items: center;
  justify-content: center;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-wrap: wrap;
  flex-direction: column;
}

.flex-container{
  flex: 1;
  display: flex;

  /*background: #fffca2;*/
  /*padding: 2px 2px 2px 2px;*/
  word-break: break-word;

  align-items: center;
  justify-content: center;
}

.justify-start {
  margin-right: auto;
  padding-left: 20px;
  padding-top: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.logo-image {
  width: 40%;
  height: 50%;
}

input[type=text] {
  width: 30vh;
  height: 7vh;
  padding: 10px 10px 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  /*border-radius: 4px;*/
  font-size: 1.5rem;
  color: #5a5757;
  box-sizing: border-box;
  box-shadow: 3px 4px 5px rgba(136, 136, 136, 0.42);
}

.button {
  background-color: #04abe0;
  border: none;
  color: white;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;

  box-sizing: border-box;
  box-shadow: 3px 4px 5px rgba(136, 136, 136, 0.42);

  width: 15vh;
  height: 5vh;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888888;
  font-size: large;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #888888;
  font-size: large;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #888888;
  font-size: large;
}
:-moz-placeholder { /* Firefox 18- */
  color: #888888;
  font-size: large;
}

@media only screen and (max-width: 640px) {
  .seat-lookup-container {
    height: 100%;
    width: 100%;

    overflow-y: scroll;
  }
}
